{% assign locale = site.data.localization[page.language] %}

<div class="about">

  <section>
    <div class="wrap">
      <div class="preheader">{{ locale.about.preheader }}</div>
      <h1>{{ locale.about.header }}</h1>
      <p>{{ locale.about.description }}</p>
      <ul>
        <li>{{ locale.about.about1 }}</li>
        <li>{{ locale.about.about2 }}</li>
        <li>{{ locale.about.about3 }}</li>
        <li>{{ locale.about.about4 }}</li>
      </ul>
    </div>
  </section>

  <section class="team">
    <div class="wrap">
      <h2>{{ locale.about.team_header }}</h2>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <img src="/assets/img/team/justin.jpg">
          <h3>{{ locale.about.justin }} &middot; {{ locale.about.justin_role }}</h3>
          <p>{{ locale.about.justin_about }}</p>
        </div>
        <div class="col-md-4 col-xs-12">
          <img src="/assets/img/team/philippe.jpg">
          <h3>{{ locale.about.philippe }} &middot; {{ locale.about.philippe_role }}</h3>
          <p>{{ locale.about.philippe_about }}</p>
        </div>
        <div class="col-md-4 col-xs-12">
          <img src="/assets/img/team/philip.png">
          <h3>{{ locale.about.philip }} &middot; {{ locale.about.philip_role }}</h3>
          <p>{{ locale.about.philip_about }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.about.join_header }}</h2>
      <p>{{ locale.about.join_description }}</p>
      <a href="/contact/" class="button">{{ locale.buttons.get_in_touch }}</a>
    </div>
  </section>

</div>
