{% assign locale = site.data[page.language] %}

<div class="careers">

  <section>
    <div class="wrap">
      <div class="preheader">{{ locale.careers_preheader }}</div>
      <h1>{{ locale.careers_header }}</h1>
      <p>{{ locale.careers_description }}</p>
      <a href="/contact/" class="button primary">{{ locale.buttons_reach_out }}</a>
      <!--<a href="#open-roles" class="button">{{ locale.buttons_open_roles }}</a>-->
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.careers_benefits_and_perks }}</h2>
      <ul>
        <li>{{ locale.careers_4_day_work_week }}</li>
        <li>{{ locale.careers_work_remote }}</li>
        <li>{{ locale.careers_flexible_vacation }}</li>
        <li>{{ locale.careers_stock_options }}</li>
        <li>{{ locale.careers_relocation_package }}</li>
        <li>{{ locale.careers_commuter_benefits }}</li>
        <li>{{ locale.careers_insurance_coverage }}</li>
        <li>{{ locale.careers_retirement_plan }}</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.careers_principles }}</h2>
      <h3>{{ locale.careers_principles1_title }}</h3>
      <p>{{ locale.careers_principles1_text }}</p>
      <h3>{{ locale.careers_principles2_title }}</h3>
      <p>{{ locale.careers_principles2_text }}</p>
      <h3>{{ locale.careers_principles3_title }}</h3>
      <p>{{ locale.careers_principles3_text }}</p>
      <h3>{{ locale.careers_principles4_title }}</h3>
      <p>{{ locale.careers_principles4_text }}</p>
      <h3>{{ locale.careers_principles5_title }}</h3>
      <p>{{ locale.careers_principles5_text }}</p>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.careers_roles_title }}</h2>
      <ul>
        <li>{{ locale.careers_roles_dev }}</li>
        <li>{{ locale.careers_roles_data }}</li>
        <li>{{ locale.careers_roles_sales }}</li>
      </ul>
      <a href="/contact/" class="button primary">{{ locale.buttons_apply_now }}</a>
    </div>
  </section>

  <!--
  <section id="open-roles">
    <div class="wrap">
      <h2>Open Roles</h2>
      <p>We’re looking for hard-working, creative problem-solvers to help us transform the future of .... If you are looking to join a tight-knit, talented team with the opportunity to initiate change and make a big impact, join us!</p>
      <div class="roles">
        <div class="role">
          <h3>Engineering</h3>
          <ul></ul>
        </div>
        <div class="role">
          <h3>Data Science, ML, and AI</h3>
          <ul></ul>
        </div>
        <div class="role">
          <h3>Sales and Operations</h3>
          <ul></ul>
        </div>
      </div>
    </div>
  </section>
  -->

</div>
