{% assign locale = site.data.localization[page.language] %}

<div class="careers">

  <section>
    <div class="wrap">
      <div class="preheader">{{ locale.careers.preheader }}</div>
      <h1>{{ locale.careers.header }}</h1>
      <p>{{ locale.careers.description }}</p>
      <a href="/contact/" class="button primary">{{ locale.buttons.reach_out }}</a>
      <!--<a href="#open-roles" class="button">{{ locale.buttons.open_roles }}</a>-->
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.careers.benefits_and_perks }}</h2>
      <ul>
        <li>{{ locale.careers.4_day_work_week }}</li>
        <li>{{ locale.careers.work_remote }}</li>
        <li>{{ locale.careers.flexible_vacation }}</li>
        <li>{{ locale.careers.stock_options }}</li>
        <li>{{ locale.careers.relocation_package }}</li>
        <li>{{ locale.careers.commuter_benefits }}</li>
        <li>{{ locale.careers.insurance_coverage }}</li>
        <li>{{ locale.careers.retirement_plan }}</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.careers.principles }}</h2>
      <h3>{{ locale.careers.principles1_title }}</h3>
      <p>{{ locale.careers.principles1_text }}</p>
      <h3>{{ locale.careers.principles2_title }}</h3>
      <p>{{ locale.careers.principles2_text }}</p>
      <h3>{{ locale.careers.principles3_title }}</h3>
      <p>{{ locale.careers.principles3_text }}</p>
      <h3>{{ locale.careers.principles4_title }}</h3>
      <p>{{ locale.careers.principles4_text }}</p>
      <h3>{{ locale.careers.principles5_title }}</h3>
      <p>{{ locale.careers.principles5_text }}</p>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.careers.roles_title }}</h2>
      <ul>
        <li>{{ locale.careers.roles_dev }}</li>
        <li>{{ locale.careers.roles_data }}</li>
        <li>{{ locale.careers.roles_sales }}</li>
      </ul>
      <a href="/contact/" class="button primary">{{ locale.buttons.apply_now }}</a>
    </div>
  </section>

  <!--
  <section id="open-roles">
    <div class="wrap">
      <h2>Open Roles</h2>
      <p>We’re looking for hard-working, creative problem-solvers to help us transform the future of .... If you are looking to join a tight-knit, talented team with the opportunity to initiate change and make a big impact, join us!</p>
      <div class="roles">
        <div class="role">
          <h3>Engineering</h3>
          <ul></ul>
        </div>
        <div class="role">
          <h3>Data Science, ML, and AI</h3>
          <ul></ul>
        </div>
        <div class="role">
          <h3>Sales and Operations</h3>
          <ul></ul>
        </div>
      </div>
    </div>
  </section>
  -->

</div>
