{% assign locale = site.data[page.language] %}

<div class="contact">
  <section>
    <div class="wrap">

      <div class="message" id="success">
        <i class="fa fa-check"></i> {{ locale.contact_message_success }}
      </div>

      <div class="message" id="failure">
        <i class="fa fa-times"></i> {{ locale.contact_message_failure }}
      </div>

      <div class="row">

        <div class="col-md-6 col-xs-12">
          <div class="col">
            <div class="preheader">{{ locale.consultation_preheader }}</div>
            <h1>{{ locale.consultation_header }}</h1>
            <p>{{ locale.consultation_description }}</p>
            <ul>
              <li>{{ locale.consultation_q1 }}</li>
              <li>{{ locale.consultation_q2 }}</li>
              <li>{{ locale.consultation_q3 }}</li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="col">
            <form method="POST" action="https://app.skysense.jp/contact">
              <label class="required">{{ locale.contact_field_full_name }}</label>
              <input type="text" name="name" required="required" />

              <label>{{ locale.contact_field_company }}</label>
              <input type="text" name="company" />

              <label>{{ locale.contact_field_job_title }}</label>
              <input type="text" name="title" />

              <label class="required">{{ locale.contact_field_email }}</label>
              <input type="text" name="email" required="required" />

              <label>{{ locale.contact_field_phone }}</label>
              <input type="tel" name="phone" />

              <button type="submit">{{ locale.buttons_submit }}</button>

              <input type="hidden" name="honeypot" value="">
              <input type="hidden" name="language" value="{{page.language}}">
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<script>
  if (window.location.href.includes('sent=1')) {
    document.getElementById('success').style.display = 'block';
  }
  if (window.location.href.includes('sent=0')) {
    document.getElementById('failure').style.display = 'block';
  }
</script>
