
<div class="mx-auto mt-16 max-w-xl">
  <div class="border rounded-3xl p-8 sm:px-16 sm:py-12 bg-white">
    <form method="POST" action="https://getform.io/f/f7407816-72c4-4c41-8f3a-5286bcba5328" data-hs-cf-bound="true">
      <div class="">
        <label class="block font-semibold leading-8 text-gray-900">Full Name</label>
        <input class="block w-full rounded-md bg-gray-50 border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-skysense" type="text" name="name" required="required">
      </div>
      <div class="mt-4">
        <label class="block font-semibold leading-8 text-gray-900">Company</label>
        <input class="block w-full rounded-md bg-gray-50 border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-skysense" type="text" name="company">
      </div>
      <div class="mt-4">
        <label class="block font-semibold leading-8 text-gray-900">Job Title</label>
        <input class="block w-full rounded-md bg-gray-50 border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-skysense" type="text" name="title">
      </div>
      <div class="mt-4">
        <label class="block font-semibold leading-8 text-gray-900">Email</label>
        <input class="block w-full rounded-md bg-gray-50 border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-skysense" type="text" name="email" required="required">
      </div>
      <div class="mt-4">
        <label class="block font-semibold leading-8 text-gray-900">Phone Number</label>
        <input class="block w-full rounded-md bg-gray-50 border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-skysense" type="tel" name="phone">
      </div>
      <div class="mt-4">
        <label class="block font-semibold leading-8 text-gray-900">Describe your inquiry</label>
        <textarea class="block w-full rounded-md bg-gray-50 border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-skysense" name="message" required="required" placeholder="Please share your industry, crop type, size, and how we can help you." rows="5"></textarea>
      </div>
      <div class="mt-6">
        <button class="block w-full p-2 rounded-md bg-skysense text-white transition-opacity hover:opacity-80" type="submit">Submit</button>
      </div>
      <input type="hidden" name="_gotcha" style="display:none !important">
      <input type="hidden" name="language" value="en">
      <input type="hidden" name="type" value="contact">
      <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
    </form>
  </div>
</div>