{% assign locale = site.data[page.language] %}

<div class="contact">
  <section>
    <div class="wrap">

      <div class="message" id="success">
        <i class="fa fa-check"></i> {{ locale.contact_message_success }}
      </div>

      <div class="message" id="failure">
        <i class="fa fa-times"></i> {{ locale.contact_message_failure }}
      </div>

      <div class="row">

        <div class="col-md-6 col-xs-12">
          <div class="col">
            <div class="preheader">{{ locale.contact_preheader }}</div>
            <h1>{{ locale.contact_header }}</h1>
            <p>{{ locale.contact_description }}</p>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="col">
            <form method="POST" action="https://getform.io/f/f7407816-72c4-4c41-8f3a-5286bcba5328">
              <label class="required">{{ locale.contact_field_full_name }}</label>
              <input type="text" name="name" required="required" />

              <label>{{ locale.contact_field_company }}</label>
              <input type="text" name="company" />

              <label>{{ locale.contact_field_job_title }}</label>
              <input type="text" name="title" />

              <label class="required">{{ locale.contact_field_email }}</label>
              <input type="text" name="email" required="required" />

              <label>{{ locale.contact_field_phone }}</label>
              <input type="tel" name="phone" />

              <label>{{ locale.contact_field_message }}</label>
              <textarea name="message" required="required" placeholder="{{ locale.contact_field_message_placeholder }}"></textarea>

              <button type="submit">{{ locale.buttons_contact_us }}</button>

              <input type="hidden" name="_gotcha" style="display:none !important">
              <input type="hidden" name="language" value="{{page.language}}">
              <input type="hidden" name="type" value="contact-old">
              <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<script>
  if (window.location.href.includes('sent=1')) {
    document.getElementById('success').style.display = 'block';
  }
  if (window.location.href.includes('sent=0')) {
    document.getElementById('failure').style.display = 'block';
  }
</script>
