{% assign locale = site.data.localization[page.language] %}

<div class="contact">
  <section>
    <div class="wrap">

      <div class="message" id="success">
        <i class="fa fa-check"></i> {{ locale.contact.message_success }}
      </div>

      <div class="message" id="failure">
        <i class="fa fa-times"></i> {{ locale.contact.message_failure }}
      </div>

      <div class="row">

        <div class="col-md-6 col-xs-12">
          <div class="col">
            <div class="preheader">{{ locale.contact.preheader }}</div>
            <h1>{{ locale.contact.header }}</h1>
            <p>{{ locale.contact.description }}</p>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="col">
            <form method="POST" action="https://app.skysense.jp/contact">
              <label>{{ locale.contact.field_full_name }}</label>
              <input type="text" name="name" required="required" />

              <label>{{ locale.contact.field_company }}</label>
              <input type="text" name="company" />

              <label>{{ locale.contact.field_job_title }}</label>
              <input type="text" name="title" />

              <label>{{ locale.contact.field_email }}</label>
              <input type="text" name="email" required="required" />

              <label>{{ locale.contact.field_message }}</label>
              <textarea name="message" required="required" placeholder="{{ locale.contact.field_message_placeholder }}"></textarea>

              <button>{{ locale.buttons.contact_us }}</button>

              <input type="hidden" name="honeypot" value="">
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>

<script>
  if (window.location.href.includes('sent=1')) {
    document.getElementById('success').style.display = 'block';
  }
  if (window.location.href.includes('sent=0')) {
    document.getElementById('failure').style.display = 'block';
  }
</script>
