{% assign locale = site.data[page.language] %}

<div class="index">
  <section class="hero2 hemp">
    <div class="wrap">
      <h1>{{ locale.hemp_header }}</h1>
      <p>{{ locale.hemp_description }}</p>
      <img src="/assets/img/demo/dashboard-hemp.png" />
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.hemp_features_title }}</h2>
      <div class="icons">
        <div class="icon">
          <i class="fa fa-helicopter"></i>
          <div class="title">{{ locale.hemp_features_scouting_title }}</div>
          <div class="description">{{ locale.hemp_features_scouting_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-brain"></i>
          <div class="title">{{ locale.hemp_features_ai_title }}</div>
          <div class="description">{{ locale.hemp_features_ai_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-map-marked-alt"></i>
          <div class="title">{{ locale.hemp_features_map_title }}</div>
          <div class="description">{{ locale.hemp_features_map_text }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="alt text">
    <div class="wrap">
      <h2>{{ locale.hemp_advantage_title }}</h2>
      <p>{{ locale.hemp_advantage_text1 }}</p>
      <p>{{ locale.hemp_advantage_text2 }}</p>
      <p>{{ locale.hemp_advantage_text3 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_get_started }}</a>
    </div>
  </section>
  <section>
    <div class="wrap">
      <h2>{{ locale.hemp_solutions_title }}</h2>
      <div class="icons">
        <div class="icon"><i class="fa fa-stethoscope"></i>
          <div class="title">{{ locale.hemp_solutions_stress_title }}</div>
          <div class="description">{{ locale.hemp_solutions_stress_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-map"></i>
          <div class="title">{{ locale.hemp_solutions_male_title }}</div>
          <div class="description">{{ locale.hemp_solutions_male_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-chart-pie"></i>
          <div class="title">{{ locale.hemp_solutions_growth_title }}</div>
          <div class="description">{{ locale.hemp_solutions_growth_text }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.hemp_connect_title }}</h2>
      <p>{{ locale.hemp_connect_text1 }}</p>
      <p>{{ locale.hemp_connect_text2 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_contact_us }}</a>
    </div>
  </section>
</div>
