{% assign locale = site.data[page.language] %}

<div class="index">
  <section class="hero2">
    <div class="wrap">
      <h1>Protect Crops with Intelligence from Drone Images</h1>
      <p>Skysense helps you stop plant disease and weeds before the damage is done by providing agricultural intelligence from self-flying drones.</p>
      <img src="/assets/img/demo/screen.png" />
    </div>
  </section>

  <!--
  <section id="features">
    <div class="wrap">
      <h2>{{ locale.index_features_title }}</h2>
      <div class="icons">
        <div class="icon">
          <i class="fa fa-helicopter"></i>
          <div class="title">{{ locale.index_features_scouting_title }}</div>
          <div class="description">{{ locale.index_features_scouting_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-brain"></i>
          <div class="title">{{ locale.index_features_ai_title }}</div>
          <div class="description">{{ locale.index_features_ai_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-map-marked-alt"></i>
          <div class="title">{{ locale.index_features_map_title }}</div>
          <div class="description">{{ locale.index_features_map_text }}</div>
        </div>
      </div>
    </div>
  </section>
  -->

  <section>
    <div class="wrap">
      <h2>{{ locale.index_solutions_title }}</h2>
      <div class="icons">
        <div class="icon">
          <i class="fa fa-helicopter"></i>
          <div class="title">{{ locale.index_solutions_stress_title }}</div>
          <div class="description">{{ locale.index_solutions_stress_text }}</div>
        </div>
        <div class="icon">
          <i class="fa fa-map-marked-alt"></i>
          <div class="title">{{ locale.index_solutions_disease_title }}</div>
          <div class="description">{{ locale.index_solutions_disease_text }}</div>
        </div>
        <div class="icon">
          <i class="fa fa-brain"></i>
          <div class="title">{{ locale.index_solutions_growth_title }}</div>
          <div class="description">{{ locale.index_solutions_growth_text }}</div>
        </div>
      </div>
    </div>
  </section>

  <section class="alt">
    <div class="wrap">
      <h2>How it works</h2>
      <div class="icons">
        <div class="icon">
          <img src="/assets/img/demo/how1.png" />
          <div class="title">Self-Flying Drones</div>
          <div class="description">Operate multiple drones simultaneous for ultra high resolution RGB at low altitude.</div>
        </div>
        <div class="icon">
          <img src="/assets/img/demo/how2.png" />
          <div class="title">Process Data using AI</div>
          <div class="description">...</div>
        </div>
        <div class="icon">
          <img src="/assets/img/demo/how3.png" />
          <div class="title">Work Based on disease status</div>
          <div class="description">...</div>
        </div>
      </div>
    </div>
  </section>

  <!--
  <section>
    <div class="wrap">
      <div class="columns">
        <div class="column narrow">
          <h2>Dashboard</h2>
          <p>Quickly and easily upload your flight data to the dashboard. Manage your flights and analyze data using the dashboard.</p>
        </div>
        <div class="column">
          <img src="/assets/img/demo/dashboard.png" />
        </div>
      </div>
    </div>
  </section>
  -->

  <section>
    <div class="wrap">
      <div class="columns">
        <div class="column narrow">
          <h2>Count Plants</h2>
          <p>Deep learning AI is tuned to the detect and count specific plant species. Count plants and weeds separately, monitor plant growth, and improve insurance claims.</p>
        </div>
        <div class="column">
          <div class="screen"><img src="/assets/img/demo/dashboard-preview.png" /></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <div class="columns reverse">
        <div class="column narrow">
          <h2>Scout Diseases</h2>
          <p>Go beyond NDVI-based plant health to classify specific plant diseases, made possible only by applying AI to low-altitude drone flights or hyperspectral cameras.</p>
        </div>
        <div class="column">
          <div class="screen"><img src="/assets/img/demo/dashboard-classification.png" /></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <div class="columns">
        <div class="column narrow">
          <h2>Interact with Maps</h2>
          <p>Image-based intelligence is embeded in interactive farm maps that the whole team uses to prioritize labor, optimize spraying, and evaluate experiments.</p>
          <!--<p>Skysense uses state of the art technology to perform accurate and high resolution orthophoto mapping using your uploaded imagery. Using the dashboard you can toggle different map layers, including photo markers, flight path, ortho map, plant health, surface model, and plant detection.</p>-->
        </div>
        <div class="column">
          <div class="screens">
            <div class="screen"><img src="/assets/img/demo/map-path.png" /></div>
            <div class="screen"><img src="/assets/img/demo/map-area.png" /></div>
            <div class="screen"><img src="/assets/img/demo/map-ortho.png" /></div>
          </div>
          <div class="screens">
            <div class="screen"><img src="/assets/img/demo/map-health.png" /></div>
            <div class="screen"><img src="/assets/img/demo/map-dsm.png" /></div>
            <div class="screen"><img src="/assets/img/demo/map-predictions.png" /></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <div class="columns reverse">
        <div class="column narrow">
          <h2>Monitor Health</h2>
          <p>Spot plant stress early with heat maps generated from standard RGB cameras (VARI) and multispectral cameras that capture near-infrared, invisible to the human eye (NDVI).</p>
        </div>
        <div class="column">
          <img src="/assets/img/demo/dashboard-health.png" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <div class="columns">
        <div class="column narrow">
          <h2>Generate Surface Models</h2>
          <p>Improve irrigation decisions by understanding where water flows using accurate surface models that map your field's 3D topography.</p>
        </div>
        <div class="column">
          <img src="/assets/img/demo/dashboard-surface-model.png" />
        </div>
      </div>
    </div>
  </section>

  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.index_connect_title }}</h2>
      <p>{{ locale.index_connect_text1 }}</p>
      <p>{{ locale.index_connect_text2 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_contact_us }}</a>
    </div>
  </section>

  <section>
    <div class="wrap">
      <div class="columns reverse">
        <div class="column narrow">
          <h2>Analyze Flights</h2>
          <p>Improve data quality and reliability of self-flying drones by analyzing drone position, speed, and altitude information of every image.</p>
        </div>
        <div class="column">
          <img src="/assets/img/demo/dashboard-assets.png" />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Hosting that suits your needs</h2>
      <div class="icons">
        <div class="icon">
          <i class="fa fa-cloud"></i>
          <div class="title">Cloud Hosting</div>
          <div class="description">Upload and access your flights from anywhere and share maps with your team using our cloud hosted solution.</div>
        </div>
        <div class="icon">
          <i class="fa fa-building"></i>
          <div class="title">On-Premise</div>
          <div class="description">On-site hosting and custom processing hardware for fast results that aren't delayed by internet speeds (closed beta).</div>
        </div>
      </div>
    </div>
  </section>

  <section class="alt text">
    <div class="wrap">
      <h2>{{ locale.index_advantage_title }}</h2>
      <p>{{ locale.index_advantage_text1 }}</p>
      <p>{{ locale.index_advantage_text2 }}</p>
      <p>{{ locale.index_advantage_text3 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_get_started }}</a>
    </div>
  </section>


</div>
