{% assign locale = site.data[page.language] %}

<div class="index">
  <section class="hero">
    <div class="wrap">
      <h1>{{ locale.index_header }}</h1>
      <p>{{ locale.index_description }}</p>
      <a href="javascript:document.querySelector('#features').scrollIntoView({ behavior: 'smooth' })" class="button">{{ locale.buttons_learn_more }}</a>
    </div>
  </section>
  <section id="features">
    <div class="wrap">
      <h2>{{ locale.index_features_title }}</h2>
      <div class="icons">
        <div class="icon">
          <i class="fa fa-helicopter"></i>
          <div class="title">{{ locale.index_features_scouting_title }}</div>
          <div class="description">{{ locale.index_features_scouting_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-brain"></i>
          <div class="title">{{ locale.index_features_ai_title }}</div>
          <div class="description">{{ locale.index_features_ai_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-map-marked-alt"></i>
          <div class="title">{{ locale.index_features_map_title }}</div>
          <div class="description">{{ locale.index_features_map_text }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="alt text">
    <div class="wrap">
      <h2>{{ locale.index_advantage_title }}</h2>
      <p>{{ locale.index_advantage_text1 }}</p>
      <p>{{ locale.index_advantage_text2 }}</p>
      <p>{{ locale.index_advantage_text3 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_get_started }}</a>
    </div>
  </section>
  <section>
    <div class="wrap">
      <h2>{{ locale.index_solutions_title }}</h2>
      <div class="icons">
        <div class="icon"><i class="fa fa-stethoscope"></i>
          <div class="title">{{ locale.index_solutions_stress_title }}</div>
          <div class="description">{{ locale.index_solutions_stress_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-map"></i>
          <div class="title">{{ locale.index_solutions_disease_title }}</div>
          <div class="description">{{ locale.index_solutions_disease_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-chart-pie"></i>
          <div class="title">{{ locale.index_solutions_growth_title }}</div>
          <div class="description">{{ locale.index_solutions_growth_text }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.index_connect_title }}</h2>
      <p>{{ locale.index_connect_text1 }}</p>
      <p>{{ locale.index_connect_text2 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_contact_us }}</a>
    </div>
  </section>
</div>
