{% assign locale = site.data.localization[page.language] %}

<div class="index">
  <section class="hero">
    <div class="wrap">
      <h1>{{ locale.index_hemp.header }}</h1>
      <p>{{ locale.index_hemp.description }}</p>
      <a href="/contact/" class="button">{{ locale.buttons.learn_more }}</a>
    </div>
  </section>
  <section>
    <div class="wrap">
      <h2>{{ locale.index_hemp.features_title }}</h2>
      <div class="icons">
        <div class="icon">
          <i class="fa fa-helicopter"></i>
          <div class="title">{{ locale.index_hemp.features_scouting_title }}</div>
          <div class="description">{{ locale.index_hemp.features_scouting_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-brain"></i>
          <div class="title">{{ locale.index_hemp.features_ai_title }}</div>
          <div class="description">{{ locale.index_hemp.features_ai_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-map-marked-alt"></i>
          <div class="title">{{ locale.index_hemp.features_map_title }}</div>
          <div class="description">{{ locale.index_hemp.features_map_text }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="alt text">
    <div class="wrap">
      <h2>{{ locale.index_hemp.advantage_title }}</h2>
      <p>{{ locale.index_hemp.advantage_text1 }}</p>
      <p>{{ locale.index_hemp.advantage_text2 }}</p>
      <p>{{ locale.index_hemp.advantage_text3 }}</p>
      <a href="/contact/" class="button">{{ locale.buttons.get_started }}</a>
    </div>
  </section>
  <section>
    <div class="wrap">
      <h2>{{ locale.index_hemp.solutions_title }}</h2>
      <div class="icons">
        <div class="icon"><i class="fa fa-stethoscope"></i>
          <div class="title">{{ locale.index_hemp.solutions_stress_title }}</div>
          <div class="description">{{ locale.index_hemp.solutions_stress_text }}</div>
        </div>
        <div class="icon"><i class="fa fa-map"></i>
          <div class="title">{{ locale.index_hemp.solutions_male_title }}</div>
          <div class="description">{{ locale.index_hemp.solutions_male_title }}</div>
        </div>
        <div class="icon"><i class="fa fa-chart-pie"></i>
          <div class="title">{{ locale.index_hemp.solutions_growth_title }}</div>
          <div class="description">{{ locale.index_hemp.solutions_growth_title }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.index_hemp.connect_title }}</h2>
      <p>{{ locale.index_hemp.connect_text1 }}</p>
      <p>{{ locale.index_hemp.connect_text2 }}</p>
      <a href="/contact/" class="button">{{ locale.buttons.contact_us }}</a>
    </div>
  </section>
</div>
