{% assign locale = site.data[page.language] %}

<div class="pricing">

  <section>
    <div class="wrap">
      <div class="preheader">{{ locale.pricing_preheader }}</div>
      <h1>{{ locale.pricing_header }}</h1>
      <p>{{ locale.pricing_description }}</p>
      <div class="plans">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <div class="preheader">Hobbyist</div>
              <div class="price">$0</div>
              <p class="summary">Generate professional maps, elevation models, 3D models and point clouds from drone images. Get started for FREE, no credit card required.</p>
              <a class="button primary" href="https://dashboard.skysense.jp">Register Free</a>
              <h4>Mapping Essentials:</h4>
              <ul>
                <li>Easily upload flight data</li>
                <li>Generate maps and models</li>
                <li>Cloud hosted solution</li>
                <li>1,000 images per month <a href="#additional-images">(*)</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <div class="preheader">Professional</div>
              <div class="price">$100<span class="interval">/mo</span></div>
              <p class="summary">Combine our easy to use platform with state of the art AI and Machine Learning for plant counting, crop classification, and disease detection.</p>
              <a class="button primary" href="https://dashboard.skysense.jp">Get Started</a>
              <h4>Advanced Intelligence:</h4>
              <ul>
                <li>AI and ML Models</li>
                <li>Count Plants</li>
                <li>Crop and Disease Detection</li>
                <li>5,000 images per month <a href="#additional-images">(*)</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <div class="preheader">Full Service</div>
              <div class="price">Contact Us</div>
              <p class="summary">Do you need help with drone piloting? We can also provide custom solutions for specific crop types based on your needs. Let us help you!</p>
              <a class="button primary" href="/{{ page.language }}/contact/">Talk To Us</a>
              <h4>Custom Solution:</h4>
              <ul>
                <li>Fully managed service</li>
                <li>On-demand piloting</li>
                <li>Cloud or On-Premise</li>
                <li>Contact us to get a quote</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faq alt">
    <div class="wrap">
      <h2>{{ locale.pricing_faq_header }}</h2>

      <h3>How can I pay?</h3>
      <p>You can pay with your Visa, Maestro, MasterCard, Diners Club and American Express card.</p>

      <h3>What's your refund policy?</h3>
      <p>In case you are not satisfied with the service or missing any features you can ask for a refund in 30 days from your last payment.</p>

      <h3>Can I cancel my plan?</h3>
      <p>You can cancel your subscription any time from your account and let it expire back to the Free Plan.</p>

      <h3 id="additional-images">What happens if I exceed the monthly limit?</h3>
      <p>Additional images beyond your plan limit are charged at $0.05 per image.</p>
      
    </div>
  </section>

</div>
