{% assign locale = site.data[page.language] %}

<div class="pricing">

  <section>
    <div class="wrap">
      <div class="preheader">{{ locale.pricing_preheader }}</div>
      <h1>{{ locale.pricing_header }}</h1>
      <p>{{ locale.pricing_description }}</p>
      <div class="plans">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <h3>Free Plan</h3>
              <p>Generate professional maps, elevation models, 3D models and point clouds from drone images. Get started for FREE, no credit card required.</p>
              <ul>
                <li>Easily upload flight data</li>
                <li>Generate maps and models</li>
                <li>Cloud hosted solution</li>
                <li>Free plans can process 100 images per month</li>
              </ul>
              <a class="button primary" href="https://dashboard.skysense.jp">Register Free</a>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <h3>Professional</h3>
              <p>Combine our easy to use platform with state of the art AI and Machine Learning for plant counting, crop classification, and disease detection.</p>
              <ul>
                <li>AI and ML Models</li>
                <li>Count Plants</li>
                <li>Crop and Disease Detection</li>
                <li>Simple and predictable pay per image pricing</li>
              </ul>
              <a class="button primary" href="https://dashboard.skysense.jp">Get Started</a>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <h3>Full Service</h3>
              <p>Want us to take care of everything for you? We'll bring our drones to you, pilot the drones for you, and capture imagery. Bla bla bla bla.</p>
              <ul>
                <li>Fully managed service</li>
                <li>On-demand piloting</li>
                <li>Cloud or On-Premise</li>
                <li>Contact us and we'll get back to you with an offer</li>
              </ul>
              <a class="button primary" href="/{{ page.language }}/contact/">Talk To Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faq">
    <div class="wrap">
      <h2>{{ locale.pricing_faq_header }}</h2>

      <h3>How can I pay?</h3>
      <p>You can pay with your Visa, Maestro, MasterCard, Discover/Novus, Diners Club and American Express card.</p>

      <h3>What's your refund policy?</h3>
      <p>In case you are not satisfied with the service or missing any features you can ask for a refund in 30 days from your last payment.</p>

      <h3>Can I cancel my plan?</h3>
      <p>You can cancel your subscription any time from your acccount and let it expire back to the Free Plan.</p>
      
    </div>
  </section>

</div>
