{% assign locale = site.data[page.language] %}

<div class="pricing">

  <section>
    <div class="wrap">
      <div class="preheader">{{ locale.pricing_preheader }}</div>
      <h1>{{ locale.pricing_header }}</h1>
      <p>{{ locale.pricing_description }}</p>
      <div class="plans">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <div class="preheader">{{ locale.pricing_plan_hobbyist_name }}</div>
              <div class="price">$0</div>
              <p class="summary">{{ locale.pricing_plan_hobbyist_summary }}</p>
              <a class="button primary" href="https://dashboard.skysense.jp">{{ locale.pricing_plan_hobbyist_cta }}</a>
              <h4>{{ locale.pricing_plan_hobbyist_features_title }}:</h4>
              <ul>
                <li>{{ locale.pricing_plan_hobbyist_features_1 }}</li>
                <li>{{ locale.pricing_plan_hobbyist_features_2 }}</li>
                <li>{{ locale.pricing_plan_hobbyist_features_3 }}</li>
                <li>{{ locale.pricing_plan_hobbyist_features_4 }} <a href="#additional-images">(*)</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <div class="preheader">{{ locale.pricing_plan_professional_name }}</div>
              <div class="price">$100<span class="interval">{{ locale.pricing_plan_professional_interval }}</span></div>
              <p class="summary">{{ locale.pricing_plan_professional_summary }}</p>
              <a class="button primary" href="https://dashboard.skysense.jp">{{ locale.pricing_plan_professional_cta }}</a>
              <h4>{{ locale.pricing_plan_professional_features_title }}:</h4>
              <ul>
                <li>{{ locale.pricing_plan_professional_features_1 }}</li>
                <li>{{ locale.pricing_plan_professional_features_2 }}</li>
                <li>{{ locale.pricing_plan_professional_features_3 }}</li>
                <li>{{ locale.pricing_plan_professional_features_4 }} <a href="#additional-images">(*)</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="plan">
              <div class="preheader">{{ locale.pricing_plan_full_name }}</div>
              <div class="price">{{ locale.pricing_plan_full_price }}</div>
              <p class="summary">{{ locale.pricing_plan_full_summary }}</p>
              <a class="button primary" href="/{{ page.language }}/contact/">{{ locale.pricing_plan_full_cta }}</a>
              <h4>{{ locale.pricing_plan_full_features_title }}:</h4>
              <ul>
                <li>{{ locale.pricing_plan_full_features_1 }}</li>
                <li>{{ locale.pricing_plan_full_features_2 }}</li>
                <li>{{ locale.pricing_plan_full_features_3 }}</li>
                <li>{{ locale.pricing_plan_full_features_4 }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="faq alt">
    <div class="wrap">
      <h2>{{ locale.pricing_faq_header }}</h2>

      <h3>{{ locale.pricing_faq_q1 }}</h3>
      <p>{{ locale.pricing_faq_a1 }}</p>

      <h3>{{ locale.pricing_faq_q2 }}</h3>
      <p>{{ locale.pricing_faq_a2 }}</p>

      <h3>{{ locale.pricing_faq_q3 }}</h3>
      <p>{{ locale.pricing_faq_a3 }}</p>

      <h3 id="additional-images">{{ locale.pricing_faq_q4 }}</h3>
      <p>{{ locale.pricing_faq_a4 }}</p>

      <h3>{{ locale.pricing_faq_q5 }}</h3>
      <p>{{ locale.pricing_faq_a5 }}</p>

      <h3>{{ locale.pricing_faq_q6 }}</h3>
      <p>{{ locale.pricing_faq_a6 }}</p>

      <h3>{{ locale.pricing_faq_q7 }}</h3>
      <p>{{ locale.pricing_faq_a7 }}</p>

    </div>
  </section>

</div>
