{% assign locale = site.data[page.language] %}

<div class="drones">
  <section class="hero2 roof">
    <div class="wrap">
      <h1>{{ locale.rooftop_header }}</h1>
      <p>{{ locale.rooftop_description }}</p>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Turn Satellite Imagery into Actionable Data</h2>
      <p>We use powered AI/computer vision techniques to detect and extract rooftop information from satellite imagery.</br>Our models can process hundreds of thousands of rooftops from large areas, all that very quickly.</p>
      <div class="screen"><img src="/assets/img/rooftop/overview.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Rooftop Type/Material Detection</h2>
      <p>Categorize rooftops by type (flat, slanted…), material (metal…), and color.</p>
      <div class="screen"><img src="/assets/img/rooftop/type.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Rooftop Condition</h2>
      <p>Rooftop conditions are classified in different categories (clean/stained/damaged…).</p>
      <div class="screen"><img src="/assets/img/rooftop/condition.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Rooftop Height and Information</h2>
      <p>Extract building height, age and business information automatically.</p>
      <div class="screen"><img src="/assets/img/rooftop/height.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Advanced Rooftop Analysis Report</h2>
      <p>Browse interactive rooftop analysis reports. It is easy to filter, search, and inspect rooftops suitable for your needs.</p>
      <div class="screen"><img src="/assets/img/rooftop/report.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Sort rooftops by size and height</h2>
      <p>Sort results by attributes rooftop size and building height.</p>
      <div class="screen"><img src="/assets/img/rooftop/sort.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Find damaged rooftops (heavy stains or structural damage)</h2>
      <p>Find all the damaged rooftops with a single click.</p>
      <div class="screen"><img src="/assets/img/rooftop/damaged.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Find stained rooftops (e.g. water damage)</h2>
      <p>Quickly filter results to select water-damaged rooftops.</p>
      <div class="screen"><img src="/assets/img/rooftop/stained.png" /></div>
    </div>
  </section>

  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.drones_connect_title }}</h2>
      <p>{{ locale.drones_connect_text1 }}</p>
      <p>{{ locale.drones_connect_text2 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_contact_us }}</a>
    </div>
  </section>

  <section class="alt text">
    <div class="wrap">
      <h2>{{ locale.drones_advantage_title }}</h2>
      <p>{{ locale.drones_advantage_text1 }}</p>
      <p>{{ locale.drones_advantage_text2 }}</p>
      <p>{{ locale.drones_advantage_text3 }}</p>
      <a href="/{{page.language}}/pricing/" class="button">{{ locale.buttons_get_started }}</a>
    </div>
  </section>

</div>
