{% assign locale = site.data[page.language] %}

<div class="drones">
  <section class="hero2 roof">
    <div class="wrap">
      <h1>{{ locale.rooftop_header }}</h1>
      <p>{{ locale.rooftop_description }}</p>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Turn Satellite Imagery into Actionable Data</h2>
      <p>Using power AI and computer vision techniques we find specific types of roofs and extract rooftop information from satellite imagery. Detect thousands of rooftops over large areas, quickly and easily.</p>
      <div class="screen"><img src="/assets/img/rooftop/overview.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Rooftop Type/Material Detection</h2>
      <p>Categorize rooftops by type (e.g. flat or slanted), material (e.g. metal) and color.</p>
      <div class="screen"><img src="/assets/img/rooftop/type.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Rooftop Condition</h2>
      <p>Additional AI models used to classify rooftop condition (clean/stained/damaged).</p>
      <div class="screen"><img src="/assets/img/rooftop/condition.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Rooftop Height and Information</h2>
      <p>Automatically extract building height, age, business information.</p>
      <div class="screen"><img src="/assets/img/rooftop/height.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Advanced Rooftop Analysis Report</h2>
      <p>We deliver interactive rooftop analysis reports, making it easy to filter, search, and inspect rooftops for your needs.</p>
      <div class="screen"><img src="/assets/img/rooftop/report.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Sort rooftops by size and height</h2>
      <p>Easily sort results by rooftop size and building height.</p>
      <div class="screen"><img src="/assets/img/rooftop/sort.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Find damaged rooftops (heavy stains or structural damage)</h2>
      <p>Using the results from the roof analysis reports you can find all damaged rooftops with a single click.</p>
      <div class="screen"><img src="/assets/img/rooftop/damaged.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>Find stained rooftops (e.g. water damage)</h2>
      <p>Quickly filter results to find stained rooftops, for example due to water damage.</p>
      <div class="screen"><img src="/assets/img/rooftop/stained.png" /></div>
    </div>
  </section>

  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.drones_connect_title }}</h2>
      <p>{{ locale.drones_connect_text1 }}</p>
      <p>{{ locale.drones_connect_text2 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_contact_us }}</a>
    </div>
  </section>

  <section class="alt text">
    <div class="wrap">
      <h2>{{ locale.drones_advantage_title }}</h2>
      <p>{{ locale.drones_advantage_text1 }}</p>
      <p>{{ locale.drones_advantage_text2 }}</p>
      <p>{{ locale.drones_advantage_text3 }}</p>
      <a href="/{{page.language}}/pricing/" class="button">{{ locale.buttons_get_started }}</a>
    </div>
  </section>

</div>
