{% assign locale = site.data[page.language] %}

<div class="drones">
  <section class="hero2 roof">
    <div class="wrap">
      <h1>{{ locale.rooftop_header }}</h1>
      <p>{{ locale.rooftop_description }}</p>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_overview_title }}</h2>
      <p>{{ locale.rooftop_overview_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/overview.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_material_title }}</h2>
      <p>{{ locale.rooftop_material_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/type.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_condition_title }}</h2>
      <p>{{ locale.rooftop_condition_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/condition.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_height_title }}</h2>
      <p>{{ locale.rooftop_height_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/height.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_report_title }}</h2>
      <p>{{ locale.rooftop_report_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/report.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_sort_title }}</h2>
      <p>{{ locale.rooftop_sort_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/sort.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_damaged_title }}</h2>
      <p>{{ locale.rooftop_damaged_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/damaged.png" /></div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <h2>{{ locale.rooftop_stained_title }}</h2>
      <p>{{ locale.rooftop_stained_text }}</p>
      <div class="screen"><img src="/assets/img/rooftop/stained.png" /></div>
    </div>
  </section>

  <section class="theme text">
    <div class="wrap">
      <h2>{{ locale.drones_connect_title }}</h2>
      <p>{{ locale.drones_connect_text1 }}</p>
      <p>{{ locale.drones_connect_text2 }}</p>
      <a href="/{{page.language}}/contact/" class="button">{{ locale.buttons_contact_us }}</a>
    </div>
  </section>

  <section class="alt text">
    <div class="wrap">
      <h2>{{ locale.drones_advantage_title }}</h2>
      <p>{{ locale.drones_advantage_text1 }}</p>
      <p>{{ locale.drones_advantage_text2 }}</p>
      <p>{{ locale.drones_advantage_text3 }}</p>
      <a href="/{{page.language}}/pricing/" class="button">{{ locale.buttons_get_started }}</a>
    </div>
  </section>

</div>
