{% assign locale = site.data[page.language] %}

<div class="solutions">

  <section>
    <div class="wrap">
      <div class="preheader">Solutions</div>
      <h1>Our customer case studies</h1>
      <p>See how our customers are using Skysense.</p>
    </div>
  </section>

  <section>
    <div class="wrap">
      <div class="columns">
        <div class="column narrow">
          <h2>Agriculture</h2>
          <p>Protect Crops with Intelligence from Drone Images. Skysense helps you stop plant disease and weeds before the damage is done by providing agricultural intelligence from self-flying drones.</p>
          <a class="button primary" href="/{{page.language}}/drones/">Learn more</a>
        </div>
        <div class="column">
          <div class="screen"><img src="/assets/img/demo/dashboard-health.png" /></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="wrap">
      <div class="columns reverse">
        <div class="column narrow">
          <h2>Hemp</h2>
          <p>Grow quality CBD that extractors want. Increase CBD % with drone-based AI to avoid pollination, watch plant stress, and ensure compliant harvest timing.</p>
          <a class="button primary" href="/{{page.language}}/hemp/">Learn more</a>
        </div>
        <div class="column">
          <div class="screen"><img src="/assets/img/demo/dashboard-hemp.png" /></div>
        </div>
      </div>
    </div>
  </section>

  <section class="theme">
    <div class="wrap">
      <h2>Custom AI</h2>
      <p>Drone service providers are using Skysense to build custom AI models so that they can offer their customers new business intelligence solutions. Reach out to us to discuss how we can help you.</p>
      <a class="button" href="/{{page.language}}/contact/">Learn more</a>
    </div>
  </section>

</div>
