$theme: #2e88fa;

body, input, textarea, select, button {
  font-family: "IBM Plex Sans", "Roboto", "Noto Sans JP", "arial", sans-serif;
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  font-size: 14pt;
}

body {
  margin: 0;
  line-height: 1.5;
  font-weight: 300;
}

main {
  min-height: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

.wrap {
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 40px;
}

.wrap.narrow {
  max-width: 700px;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .wrap {
    padding: 0 20px;
  }
}

section {
  margin: 0 auto;
  padding: 70px 0;

  @media screen and (max-width: 500px) {
    & {
      padding: 50px 0;
    }
  }
}

section + section {
  border-top: solid 1px #f0f0f0;
}

section h1+p,
section h2+p {
  margin-top: -20px;
}

section.alt {
  background: #fafbfc;
}

section.center {
  text-align: center;
}

section.theme {
  // https://cssgradient.io/
  background: linear-gradient(120deg, $theme 0%, #2a69b9 100%);
  color: white;
  .preheader {
    color: black;
    opacity: 0.6;
  }
}

hr {
  height: 3px;
  background: #eee;
  border: none;
  margin: 30px 0;
}

img {
  max-width: 100%;
}

.preheader {
  text-transform: uppercase;
  color: $theme;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: -20px;
  letter-spacing: 1px;
}

.legal {
  padding: 30px 0;
  font-size: 0.9em;
}