
$theme: #4e4ef9;

html {
  font-family: "Roboto", "arial", sans-serif;
}

body {
  margin: 0;
  color: #838fa0;
  line-height: 1.5;
  font-size: 15pt;
  font-weight: 300;
}

main {
  min-height: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1.2;
  color: #444;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 30px;
}

section {
  margin: 0 auto;
  padding: 100px 0;

  @media screen and (max-width: 500px) {
    & {
      padding: 50px 0;
    }
  }
}

section + section {
  border-top: solid 1px #f0f0f0;
}

section h1+p,
section h2+p {
  margin-top: -20px;
}

main {

  a {
    text-decoration: none;
  }

  p a {
    border-bottom: solid 1px $theme;
  }

}

hr {
  height: 3px;
  background: #eee;
  border: none;
  margin: 30px 0;
}

img {
  max-width: 100%;
}
