
main > .careers {

  .roles {
    background: #eee;
    padding: 30px;
    border-radius: 6px;
  }

  .role {
    background: white;
    padding: 30px;
    border-radius: 3px;
  }

  .role + .role {
    margin-top: 30px;
  }

}
