
footer {
  border-top: solid 1px #eee;
  text-align: center;
  padding: 20px;

  .links {
    font-size: 2em;
    color: #da4c4c;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: #666;
    }

    a+a {
      margin-left: 20px;
    }

  }

  .copyright {
    font-size: 0.8em;
    opacity: 0.5;

    a {
      color: inherit;
      text-decoration: none;
      margin-left: 5px;
    }

    a:hover {
      text-decoration: underline;
    }

  }

}
