
header {
  padding: 18px 0;
  background: white;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
  z-index: 9;
  position: relative;
  line-height: 1.3;
  position: sticky;
  top: 0;

  .brand {
    a:hover {
      border-color: white;
    }
  }

  a:hover {
    opacity: 0.8;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-family: $poppins;
    border-bottom: solid 1px white;
  }

  a:hover {
    color: #444;
    border-bottom: solid 1px #444;
  }

  a.active {
    color: $theme;
    border-bottom: solid 1px $theme;
  }

}
