
.icons {
  margin-top: 30px;

  .icon {
    width: 310px;
    display: inline-block;
    background: #fff;
    margin: 0 15px 15px 0;
    padding: 40px 20px;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
  }

  i {
    font-size: 4em;
    color: $theme;
  }

  .title {
    margin-top: 30px;
    color: #444;
    font-weight: 500;
  }

  .description {
    margin-top: 10px;
    font-size: 0.8em;
    color: #444;
  }

  @media screen and (max-width: 500px) {
    .icon {
      width: 100%;
      margin: 0 0 20px 0;
    }
  }
}
