{% assign locale = site.data[page.language] %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Skysense Blog" href="/feed.xml" />

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{site.url}}/assets/img/share.png" />

    {% if page.language %}
    {% if page.title %}
    {% if site.data[page.language][page.title] %}
    <title>{{ site.data[page.language][page.title] }} | {{ site.data[page.language].site_title }}</title>
    <meta property="og:title" content="{{ site.data[page.language][page.title] }} | {{ site.data[page.language].site_title }}" />
    {% else %}
    <title>{{ page.title }} | {{ site.data[page.language].site_title }}</title>
    <meta property="og:title" content="{{ page.title }} | {{ site.data[page.language].site_title }}" />
    {% endif %}
    {% else %}
    <title>{{ site.data[page.language].site_title }} | {{ site.data[page.language].site_description }}</title>
    <meta property="og:title" content="{{ site.data[page.language].site_title }}" />
    {% endif %}
    {% if page.description %}
    {% if site.data[page.language][page.description] %}
    <meta name="description" content="{{ site.data[page.language][page.description] }}">
    <meta property="og:description" content="{{ site.data[page.language][page.description] }}" />
    {% else %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
    {% endif %}
    {% else %}
    <meta name="description" content="{{ site.data[page.language].site_description }}">
    <meta property="og:description" content="{{ site.data[page.language].site_description }}" />
    {% endif %}
    {% else %}
    <title>{{ site.title }} | {{ site.description }}</title>
    <meta property="og:title" content="{{ site.title }} | {{ site.description }}" />
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    {% if page.language %}
    <meta property="og:locale" content="{{ page.language }}" />
    {% endif %}

    {% if page.hreflang %}
    <link rel="alternate" hreflang="x" href="{{ site.url }}{{page.hreflang}}" />
    {% endif %}
    <link rel="alternate" href="http://skysense.jp/" hreflang="x-default" />

    {% if jekyll.environment == "production" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    <!-- https://support.google.com/google-ads/answer/6331304#zippy=%2Cset-up-conversion-tracking-using-the-global-site-tag -->

    <script>

      /*
      function track_click_calendar_link(callback) {
        console.log('gtag: click calendar link');
        gtag('event', 'conversion', {
          'send_to': 'AW-346204423/ApelCK2W0ssCEIfSiqUB', // Click Calendar Link
          'event_callback': callback
        });
        return false;
      }
      
      function track_submit_contact_form(callback) {
        console.log('gtag: submit contact form');
        gtag('event', 'conversion', {
          'send_to': 'AW-346204423/730xCLmf98sCEIfSiqUB', // Submit Contact Form
          'event_callback': callback
        });
        return false;
      }
      */

      function gtag_ready() {
        /*console.log('gtag: ready');
        $(() => {
          const links = document.querySelectorAll('a');
          for (const link of links) {
            const href = link.getAttribute('href');
            if (href.includes('meetings.hubspot.com')) {
              link.addEventListener('click', (e) => {
                e.preventDefault();
                track_click_calendar_link((id) => {
                  if (id.startsWith('AW-')) {
                    document.location = href;
                  }
                });
                return false;
              });
            }
          }

          const forms = document.querySelectorAll('form');
          for (const form of forms) {
            form.addEventListener('submit', (e) => {
              e.preventDefault();
              track_submit_contact_form((id) => {
                if (id.startsWith('AW-')) {
                  form.submit();
                }
              });
              return false;
            });
          }
        });
        */
      }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script onload="gtag_ready()" async src="https://www.googletagmanager.com/gtag/js?id=UA-162420404-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-162420404-1');
      gtag('config', 'AW-346204423');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '345028557231634');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1"
      src="https://www.facebook.com/tr?id=345028557231634&ev=PageView
      &noscript=1"/>
    </noscript>

    <!-- Meta Pixel Code (New Skysense Ad Account) -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '572609511171875');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=572609511171875&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    
    <!-- Umami -->
    <script async defer data-website-id="30bf6211-6f89-4455-bb81-cefa20a7e31d" src="https://umami.skysense.jp/umami.js"></script>

    {% endif %}

  </head>
  <body class="{{ page.language }}">
    <header>
      <div class="wrap">
        <div class="navbar">
          <div class="brand">
            <a href="/{{ page.language }}/">
              <img src="/assets/img/logo.jpg" />
            </a>
            <div class="toggle" onclick="this.parentElement.parentElement.classList.toggle('toggled')">
              <i class="fa fa-bars"></i>
            </div>
          </div>
          <div class="left">
            <a href="/{{ page.language }}/">{{ locale.nav_solutions }}</a>
            <a href="/{{ page.language }}/pricing/" {% if page.title == 'pricing_title' %}class="active"{% endif %}>{{ locale.nav_pricing }}</a>
            <a href="/{{ page.language }}/about/" {% if page.title == 'about_title' %}class="active"{% endif %}>{{ locale.nav_about }}</a>
            <a href="/{{ page.language }}/careers/" {% if page.title == 'careers_title' %}class="active"{% endif %}>{{ locale.nav_careers }}</a>
            <a href="/{{ page.language }}/contact/" {% if page.title == 'contact_title' %}class="active"{% endif %}>{{ locale.nav_contact }}</a>
            <!--
              <a href="/news-media/" {% if page.url == '/news-media/' %}class="active"{% endif %}>News & Media</a>
              <a href="/blog/" {% if page.url == '/blog/' %}class="active"{% endif %}>Blog</a>
            -->
          </div>
          <div class="right">
            <a href="https://app.skysense.jp">{{ locale.nav_login }}</a>
            {% if page.language == "en" %}
            <a href="/ja/{{ page.url | slice: 4,99 }}">日本語</a>
            {% else %}
            <a href="/en/{{ page.url | slice: 4,99 }}">English</a>
            {% endif %}
          </div>
        </div>

      </div>
    </header>

    <main>{{content}}</main>
    
    <footer>
      <!--
      <div class="links">
          <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="mailto:hello@skysense.jp" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>
      -->
      <div class="copyright">
          <span>&copy; {{ site.time | date: '%Y' }} Skysense</span>
          <a href="/{{ page.language }}/pricing/">{{ locale.nav_pricing }}</a>
          <a href="/{{ page.language }}/about/">{{ locale.nav_about }}</a>
          {% if page.language == "en" %}
          <a href="/{{ page.language }}/hemp/">{{ locale.nav_hemp }}</a>
          {% endif %}
          <a href="/{{ page.language }}/contact/">{{ locale.nav_contact }}</a>
          <a href="/{{ page.language }}/careers/">{{ locale.nav_careers }}</a>
          <a href="https://app.skysense.jp/">{{ locale.nav_login }}</a>
          <a href="/terms/">Terms</a>
          <a href="/privacy/">Privacy</a>
      </div>
    </footer>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20421410.js"></script>
    <!-- End of HubSpot Embed Code -->

    <!-- LinkedIn Ads -->
    <script type="text/javascript">
    _linkedin_partner_id = "4041212";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(l) {
    if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
    window.lintrk.q=[]}
    var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})(window.lintrk);
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4041212&fmt=gif" />
    </noscript>

  </body>
</html>
