<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="AwardFares Blog" href="/feed.xml" />

    {% seo %}

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png?v=2">
    <link rel="manifest" href="/meta/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162420404-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-162420404-1');
    </script>

  </head>
  <body>
    <header>
      <div class="wrap">

        <div class="navbar">
          <div class="brand">
            <a href="/">
              <img src="/assets/img/logo.jpg" />
            </a>
            <div class="toggle" onclick="this.parentElement.parentElement.classList.toggle('toggled')">
              <i class="fa fa-bars"></i>
            </div>
          </div>
          <div class="left">
            <a href="/about/" {% if page.url == '/about/' %}class="active"{% endif %}>About</a>
            <a href="/contact/" {% if page.url == '/contact/' %}class="active"{% endif %}>Contact</a>
            <a href="/news-media/" {% if page.url == '/news-media/' %}class="active"{% endif %}>News & Media</a>
            <!--
              <a href="/features/" {% if page.url == '/features/' %}class="active"{% endif %}>Features</a>
              <a href="/drones/" {% if page.url == '/drones/' %}class="active"{% endif %}>Drones</a>
              <a href="/blog/" {% if page.url == '/blog/' %}class="active"{% endif %}>Blog</a>
            -->
          </div>
          <div class="right">
            <a href="/careers/" {% if page.url == '/careers/' %}class="active"{% endif %}>We're Hiring!</a>
          </div>
        </div>
        
      </div>
    </header>

    <main>{{content}}</main>
    <div class="wrap">
    </div>
    <footer>
      <div class="links">
        <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="mailto:hello@skysense.jp" target="_blank"><i class="fa fa-envelope"></i></a>
      </div>
      <div class="copyright">
          Copyright &copy; 2019-{{ site.time | date: '%Y' }} Skysense
      </div>
    </footer>
  </body>
</html>
