{% assign locale = site.data[page.language] %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
    <link href="/assets/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="alternate" type="application/atom+xml" title="Skysense Blog" href="/feed.xml" />

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{site.url}}/assets/img/share.png" />

    {% if page.language %}
    {% if page.title %}
    {% if site.data[page.language][page.title] %}
    <title>{{ site.data[page.language][page.title] }} | {{ site.data[page.language].site_title }}</title>
    <meta property="og:title" content="{{ site.data[page.language][page.title] }} | {{ site.data[page.language].site_title }}" />
    {% else %}
    <title>{{ page.title }} | {{ site.data[page.language].site_title }}</title>
    <meta property="og:title" content="{{ page.title }} | {{ site.data[page.language].site_title }}" />
    {% endif %}
    {% else %}
    <title>{{ site.data[page.language].site_title }} | {{ site.data[page.language].site_description }}</title>
    <meta property="og:title" content="{{ site.data[page.language].site_title }}" />
    {% endif %}
    {% if page.description %}
    {% if site.data[page.language][page.description] %}
    <meta name="description" content="{{ site.data[page.language][page.description] }}">
    <meta property="og:description" content="{{ site.data[page.language][page.description] }}" />
    {% else %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}" />
    {% endif %}
    {% else %}
    <meta name="description" content="{{ site.data[page.language].site_description }}">
    <meta property="og:description" content="{{ site.data[page.language].site_description }}" />
    {% endif %}
    {% else %}
    <title>{{ site.title }} | {{ site.description }}</title>
    <meta property="og:title" content="{{ site.title }} | {{ site.description }}" />
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    {% if page.language %}
    <meta property="og:locale" content="{{ page.language }}" />
    {% endif %}

    {% if page.hreflang %}
    <link rel="alternate" hreflang="x" href="{{ site.url }}{{page.hreflang}}" />
    {% endif %}
    <link rel="alternate" href="http://skysense.jp/" hreflang="x-default" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162420404-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-162420404-1');
    </script>

  </head>
  <body>
    <header>
      <div class="wrap">
        <div class="navbar">
          <div class="brand">
            <a href="/{{ page.language }}/">
              <img src="/assets/img/logo.jpg" />
            </a>
            <div class="toggle" onclick="this.parentElement.parentElement.classList.toggle('toggled')">
              <i class="fa fa-bars"></i>
            </div>
          </div>
          <div class="left">
            {% if page.language == "en" %}
            <a href="/{{ page.language }}/hemp/" {% if page.url == '/hemp/' %}class="active"{% endif %}>{{ locale.nav_hemp }}</a>
            {% endif %}
            <a href="/{{ page.language }}/about/" {% if page.url == '/about/' %}class="active"{% endif %}>{{ locale.nav_about }}</a>
            <a href="/{{ page.language }}/careers/" {% if page.url == '/careers/' %}class="active"{% endif %}>{{ locale.nav_careers }}</a>
            <a href="/{{ page.language }}/contact/" {% if page.url == '/contact/' %}class="active"{% endif %}>{{ locale.nav_contact }}</a>
            <!--
              <a href="/news-media/" {% if page.url == '/news-media/' %}class="active"{% endif %}>News & Media</a>
              <a href="/blog/" {% if page.url == '/blog/' %}class="active"{% endif %}>Blog</a>
            -->
          </div>
          <div class="right">
            
            <a href="https://dashboard.skysense.jp">{{ locale.nav_login }}</a>
            {% if page.language == "en" %}
            <a href="/ja/{{ page.url | slice: 4,99 }}">日本語</a>
            {% else %}
            <a href="/en/{{ page.url | slice: 4,99 }}">English</a>
            {% endif %}
          </div>
        </div>

      </div>
    </header>

    <main>{{content}}</main>
    
    <footer>
      <!--
      <div class="links">
          <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="mailto:hello@skysense.jp" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>
      -->
      <div class="copyright">
          <span>&copy; {{ site.time | date: '%Y' }} Skysense</span>
          <a href="/{{ page.language }}/about/">{{ locale.nav_about }}</a>
          <a href="/{{ page.language }}/contact/">{{ locale.nav_contact }}</a>
          {% if page.language == "en" %}
          <a href="/{{ page.language }}/hemp/">{{ locale.nav_hemp }}</a>
          {% endif %}
          <a href="/{{ page.language }}/careers/">{{ locale.nav_careers }}</a>
          <a href="https://dashboard.skysense.jp/">{{ locale.nav_login }}</a>
          <a href="/terms/">Terms</a>
          <a href="/privacy/">Privacy</a>
      </div>
    </footer>
  </body>
</html>
