---
layout: layout
---

<main class="container mx-auto max-w-4xl px-8">

<div class="mt-8 sm:mt-24 mx-auto">
  <h1 class="text-4xl sm:text-5xl font-bold text-gray-900">{{ page.title }}</h1>
  {% if page.image %}
  <img class="mt-6 mb-6 rounded-3xl w-full max-h-96 object-cover" src="{{ page.image }}" />
  {% endif %}
</div>

<div class="markdown-content">
  {{content}}
</div>

<div class="mt-16 rounded-3xl p-8 md:p-12 bg-skysense/20 text-center">
  <h3 class="text-2xl">Learn more about how Skysense can help you</h3>
  <div class="mt-6">
    <a class="rounded-full bg-skysense text-white px-6 py-3" href="javascript:window.Beacon('open')">Talk to sales</a>
  </div>
</div>

<!--
<div class="text-sm text-gray-400 mt-8">Prompt: <code>{{ page.prompt }}</code></div>
-->

</main>