---
layout: layout
title: 
---

<!--
<div class="relative">
  <img class="overflow-hidden absolute inset-0 rounded-3xl max-h-full w-full object-cover -z-50" src="/assets/img/scenic.jpg" />
  <header class="mx-auto max-w-xl py-32 text-center text-white mt-16">
    <h1 class="text-5xl sm:text-6xl font-bold mb-4">AI and Digital Maps for Agriculture</h1>
    <p>Skysense helps you stop plant disease and weeds before the damage is done by providing agricultural intelligence from satellites and self-flying drones.</p>
  </header>
</div>
-->

<header class="mx-auto max-w-xl pt-16 sm:pt-32 text-center">
  <h1 class="text-5xl sm:text-6xl font-bold mb-4">AI and Digital Maps for Agriculture</h1>
  <p>Skysense helps you stop plant disease and weeds before the damage is done by providing agricultural intelligence from satellites and self-flying drones.</p>
</header>

<div class="text-center mt-4 sm:mb-8 sm:flex sm:justify-center">
  <a class="border rounded-full flex mx-auto text-skysense px-5 py-1.5 hover:border-gray-400 justify-center" href="/2/solutions/">
    <span>Read all of our recent case studies</span>
    <svg class="ml-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><path d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"></path></svg>
  </a>
</div>

<div class="mt-16 mb-24 grid md:grid-cols-3 gap-4 md:gap-8">
  {% for solution in site.solutions limit:3 %}
  <a href="{{ solution.url }}" class="group">
    <div class="relative rounded-3xl overflow-hidden h-56 w-full bg-[url({{ solution.image }})] bg-cover bg-center">
      <!--<img class="rounded-3xl h-48 w-full object-cover" src="{{ solution.image }}" />-->
      <div class="group-hover:block absolute inset-0 text-white p-4 bg-gradient-to-t from-black/80 to-70%">
        <div class="w-full h-full flex items-end">
          <div>
            <div class="text-xs uppercase font-bold">Case Study</div>
            <div class="line-clamp-2">{{ solution.title }}</div>
          </div>
        </div>
      </div>
      <!--<div class="hidden hover:block absolute inset-0 bg-gray-900 bg-opacity-50 text-center text-white">{{ solution.title }}</div>-->
    </div>
    <!--<h3 class="text-xl font-light mt-2">{{ solution.type }}</h3>-->
  </a>
  {% endfor %}
</div>

<!--
<img class="w-full max-h-96 object-cover rounded-3xl" src="/assets/img/scenic.jpg" />
<img class="w-full object-cover rounded-3xl" src="/assets/img/farm.jpg" />
-->

  <!--
<section>

  <div class="text-center">
    <h2 class="text-4xl font-medium mb-8">What's your crop type?</h2>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for solution in site.data.solutions %}
    {% if solution.type %}
    <div>
      <img class="rounded-3xl h-64 w-full object-cover" src="{{ solution.image }}" />
      <h3 class="text-xl font-light mt-2">{{ solution.type }}</h3>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>
  -->

<section class="mt-16">
  <div class="text-center">
    <h2 class="text-4xl font-medium mb-4">Capture, analyze, act</h2>
    <p class="text-lg text-gray-600 mb-8">Full-service solutions from data acquisition, analysis, and reporting.</p>
  </div>
  <div class="space-y-8">
    {% for feature in site.data.features %}
    <div class="border rounded-3xl py-12 px-8 flex flex-col md:flex-row md:items-center {% if feature.reverse %}md:flex-row-reverse{% endif %}">
      <div class="md:w-1/2 p-2 md:p-8 space-y-2">
        <div class="uppercase text-skysense font-bold">{{ feature.hint }}</div>
        <h3 class="text-3xl leading-9">{{ feature.title }}</h3>
        <p class="text-gray-600">{{ feature.text }}</p>
      </div>
      <div class="md:w-1/2 px-2 md:px-4 mt-4 md:mt-0">
        <img class="rounded-3xl w-full max-h-80 md:max-h-96 object-cover {{ feature.color }}" src="{{ feature.image }}" />
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section class="mt-16 p-8 md:p-16 bg-blue-50 rounded-3xl">
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-medium mb-4">What's your crop type?</h2>
    <p class="text-lg text-gray-600 mb-8">No matter the crop type, we have you covered.</p>
  </div>
  <ul>
    {% for crop in site.data.crops %}
    <li class="border-t py-2">
      <a href="{%if crop.url %}{{crop.url}}{% else %}/2/contact/{% endif %}" class="flex items-center">
        <span>{{ crop.type }}</span>
        <div class="ml-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#222020" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
  
<section class="pt-16">
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-medium mb-4">The Skysense Advantage</h2>
    <p class="text-lg text-gray-600 mb-8">Even just 1 in 10,000 plants can massively impact crop yield costing millions of dollars in lost profit.</p>
  </div>
  <div class="grid md:grid-cols-2 gap-8 mt-8">
    <div class="rounded-3xl bg-green-50 p-8 md:p-16">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#222020" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm40-68a28,28,0,0,1-28,28h-4v8a8,8,0,0,1-16,0v-8H104a8,8,0,0,1,0-16h36a12,12,0,0,0,0-24H116a28,28,0,0,1,0-56h4V72a8,8,0,0,1,16,0v8h16a8,8,0,0,1,0,16H116a12,12,0,0,0,0,24h24A28,28,0,0,1,168,148Z"></path></svg>
      </div>
      <h3 class="text-xl md:text-2xl mt-4">Reduce labor intensive work and high labor costs</h3>
    </div>
    <div class="rounded-3xl bg-blue-50 p-8 md:p-16">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#222020" viewBox="0 0 256 256"><path d="M240,56v64a8,8,0,0,1-16,0V75.31l-82.34,82.35a8,8,0,0,1-11.32,0L96,123.31,29.66,189.66a8,8,0,0,1-11.32-11.32l72-72a8,8,0,0,1,11.32,0L136,140.69,212.69,64H168a8,8,0,0,1,0-16h64A8,8,0,0,1,240,56Z"></path></svg>
      </div>
      <h3 class="text-xl md:text-2xl mt-4">Increase productivity by covering vast areas</h3>
    </div>
    <div class="rounded-3xl bg-orange-50 p-8 md:p-16">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#222020" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg>
      </div>
      <h3 class="text-xl md:text-2xl mt-4">Disease identification requires deep domain-specific knowledge</h3>
    </div>
    <div class="rounded-3xl bg-purple-50 p-8 md:p-16">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#222020" viewBox="0 0 256 256"><path d="M128,24C74.17,24,32,48.6,32,80v96c0,31.4,42.17,56,96,56s96-24.6,96-56V80C224,48.6,181.83,24,128,24Zm80,104c0,9.62-7.88,19.43-21.61,26.92C170.93,163.35,150.19,168,128,168s-42.93-4.65-58.39-13.08C55.88,147.43,48,137.62,48,128V111.36c17.06,15,46.23,24.64,80,24.64s62.94-9.68,80-24.64ZM69.61,53.08C85.07,44.65,105.81,40,128,40s42.93,4.65,58.39,13.08C200.12,60.57,208,70.38,208,80s-7.88,19.43-21.61,26.92C170.93,115.35,150.19,120,128,120s-42.93-4.65-58.39-13.08C55.88,99.43,48,89.62,48,80S55.88,60.57,69.61,53.08ZM186.39,202.92C170.93,211.35,150.19,216,128,216s-42.93-4.65-58.39-13.08C55.88,195.43,48,185.62,48,176V159.36c17.06,15,46.23,24.64,80,24.64s62.94-9.68,80-24.64V176C208,185.62,200.12,195.43,186.39,202.92Z"></path></svg>
      </div>
      <h3 class="text-xl md:text-2xl mt-4">Faster access to difficult to obtain data</h3>
    </div>
  </div>
</section>

<section class="pt-16">
  <h2 class="text-3xl md:text-4xl font-medium text-center mb-16">Where to find us</h2>
  <div class="grid lg:grid-cols-3 gap-8">
    {% for event in site.data.events %}
    <div>
      <div class="border rounded-3xl p-8">
        <a href="{{ event.link}}" target="_blank">
          <img class="h-16 lg:h-24 mx-auto object-contain" src="{{ event.logo }}" />
        </a>
      </div>
      <!--
      <h3 class="text-xl font-light mt-4">{{ event.title }}</h3>
      <a class="underline text-skysense" href="{{ event.link }}" target="_blank">Learn More</a>
      -->
    </div>
    {% endfor %}
    <!--<a href="#">Learn more</a>-->
  </div>
</section>

<section class="border mt-16 p-16 text-center rounded-3xl">
  <div class="text-center">
    <h2 class="text-xl mb-4">Powered by world class tech and backed by the world's best investors & advisors</h2>
  </div>
  <div class="flex">
    {% for partner in site.data.partners %}
    <div class="p-4">
      <img class="h-12  mx-auto object-contain" src="{{ partner.logo }}" />
    </div>
    {% endfor %}
  </div>
</section>

<section class="pt-16">
  <div>
    <div class="text-center">
      <h2 class="text-4xl font-medium mt-16">Get in touch</h2>
      <p class="text-lg text-gray-600 mt-4">Fill in your details below to contact us or meet with our team</p>
    </div>
    {% include contact-form.html %}
  </div>
</section>
